*/archive
*.db

linux/target

*.iml
*.iws
*.ipr
*.cxx
*.jar
*.apk
*.class
android/.externalNativeBuild
android/.gradle
android/.idea
android/app/build
android/build
android/captures
android/local.properties