*/archive
*/old
*.db

linux/target
android/droid/target
android/app/src/main/jniLibs

*.iml
*.iws
*.ipr
*.cxx
*.jar
*.apk
*.class
android/.externalNativeBuild
android/.gradle
android/.idea
android/app/build
android/build
android/captures
android/local.properties
