*.db
*/archive
*/old

linux/target

*.apk
*.class
*.cxx
*.iml
*.ipr
*.iws
*.jar
android/.externalNativeBuild
android/.gradle
android/.idea
android/app/build
android/app/src/main/jniLibs
android/build
android/captures
android/droid/target
android/local.properties

