[Desktop Entry]
Name=DigiSafe
Comment=A digital safe for secure storage.
Generic Nmae=Password Manager
Exec=digisafe
Icon=digisafe
Terminal=false
Type=Application
Categories=Utility;Security;
Keywords=safe;vault;password;
StartupNotify=true
